.page-not-found-container {
  display: flex;
  justify-content: center;
  color: #adb5bd;
}

.page-not-found-col {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 60rem;
  overflow: hidden;
}

.page-not-found-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.page-not-found-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: .3rem;
  margin: 1rem 0;
}

.beam-up-link:hover {
  transition: all 0.6s ease;
  color: #343A40;
}

@media (min-width: 0em) {
  .beam-up-link {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #adb5bd;
    text-align: center;
    margin: 0 auto;
    max-width: 45rem;
    text-decoration: none;
  }

  .beam-up-link img {
    margin: -45px 0;
    width: 30px;
    height: 10rem;
  }
}

@media (min-width: 62em) {
  .beam-up-link {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    color: #adb5bd;
    text-align: center;
    margin: 0 auto;
    max-width: 45rem;
    text-decoration: none;
  }
}