body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

h3 {
  font-weight: bold;
}

